@font-face {
	font-family: 'B Nazanin';
	src: url(../../assets/fonts/BNazanin.woff2) format('woff2'),
	url(../../assets/fonts/BNazanin.woff) format('woff'),
	url(../../assets/fonts/BNazanin.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}