#collapsicon-div {
  text-align: right;
}

#customers-report {
  text-align: right;
}

#customers-report-button {
  border-radius: 50px 0px 0px 50px;
  color: rgb(255,214,0);
  border-color: rgb(255,214,0);
  font-size: 16px;
  font-weight: 600;
  right: 5px;
}

#coworkers-report-button {
  border-radius: 0px 50px 50px 0px;
  color: rgb(255,214,0);
  border-color: rgb(255,214,0);
  font-size: 16px;
  font-weight: 600;
  left: 5px;
}

#coworkers-report-button {
  animation-name: slideRtL;
  animation-duration: 2s;
  position: absolute;
}

#customers-report-button {
  animation-name: slideLtR;
  animation-duration: 2s;
  position: absolute;
}

#coworkers-button {
  animation-name: slideTtD;
  animation-duration: 2s;
  position: absolute;
}

#customers-button {
  animation-name: slideDtT;
  animation-duration: 2s;
  position: absolute;
}

@keyframes slideDtT {
  0% {
    top: 500px;
  }
  100% {
    top: 0;
  }
}

@keyframes slideTtD {
  0% {
    bottom: 500px;
  }
  100% {
    bottom: -101px;
  }
}

@keyframes slideRtL {
  0% {
    left: 500px;
    visibility: hidden;
  }
  42% {
    left: 500px;
    visibility: visible;
  }
  100% {
    left: 5px;
  }
}

@keyframes slideLtR {
  0% {
    right: 500px;
    visibility: hidden;
  }
  42% {
    right: 500px;
    visibility: visible;
  }
  100% {
    right: 5px;
  }
}

#coworkers-col {
  text-align: center!important;
}

#customers-button {
  border-radius: 0 0 200px 200px;
  font-size: 20px;
  font-weight: 600;
}

#coworkers-button {
  border-radius: 200px 200px 0 0;
  font-size: 20px;
  font-weight: 600;
}

#footer {
  text-align: center;
  color: white;
  font-size: small;
}

body {
}

#reports {
  overflow: hidden;
  min-height: 50px;
}

#coworkers-customers {
  overflow: hidden;
  min-height: 210px;
}

#collapsicon-heading {
  text-align: right;
}

#collaps-heading {
  font-size: 17px;
  font-family: 'B Nazanin';
  font-weight: 600;
}

#kindsofcustomers {
  font-family: 'B Nazanin';
  font-size: 18px;
  font-weight: 600;
}

#kindsofcustomers-links {
  color: rgb(245,176,71)!important;
  border-radius: 6px!important;
}

#addpeople {
  text-align: center;
}

#addpeople-button {
  border-radius: 7px!important;
}

#posiblecustomers-row {
  border-color: gray!important;
  border-width: 5px!important;
}

#image-div {
  border-radius: 100px 0 0 100px;
  text-align: center!important;
}

#img-customers {
  border-color: yellow!important;
  border-width: medium!important;
}

#posiblecustomers {
  font-family: 'B Nazanin';
}

#opration-button {
  border-radius: 7px;
  font-family: 'B Nazanin';
  font-size: 21px;
  font-weight: 5000;
  color: rgb(0,0,69);
}

#deleteandname-col {
  border-style: groove;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

#img-customers {
  border-style: groove;
  border-color: yellow;
  height: 110px;
  width: 110px;
}

#posiblecustomers-row {
  border: groove;
  border-color: rgb(211,211,211)!important;
  border-width: 2px!important;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 2px 4px 0;
}

@media (max-width: 400px) {
  #img-customers {
    width: 90px!important;
    height: 90px!important;
  }
}

#customers-tabitems {
  border-radius: 8px!important;
  border-color: rgb(255,214,0)!important;
  border-width: medium;
  background-color: rgb(36,105,179);
  box-shadow: 0 2px 4px 0;
}

#customers-edit {
  border-radius: 8px!important;
  border-width: medium;
  background-color: #174f8c;
}

#icononimage {
  position: relative;
  height: 35px;
  width: 35px;
}

body {
  direction: rtl;
}

#imageedit-div {
  text-align: center;
}

#image-edit {
  text-align: center!important;
  border-color: blue!important;
}

#sapn-edit {
  border-radius: 0 0 0 0;
}

#saveandexit {
  text-align: center;
}

#save {
  border-radius: 50px 0 0 50px;
}

#exit {
  border-radius: 0 50px 50px 0;
  color: white;
}

#addform {
  text-align: center;
}

#addform-button {
  font-weight: 400;
  background-color: rgb(36,105,179);
}

#formsitem-row {
  border-style: groove;
  box-shadow: 0 2px 4px 0;
  border-radius: 8px;
  border-color: #d3d3d3;
  border-width: 1px;
}

#firstpageeducation-row {
  border-style: groove;
  box-shadow: 0 2px 4px 0;
  border-radius: 8px;
  border-color: #d3d3d3;
  border-width: 1px;
}

#secondpageeducation-row {
  border-style: groove;
  box-shadow: 0 2px 4px 0;
  border-radius: 8px;
  border-color: #d3d3d3;
  border-width: 1px;
}

#reports-row {
}

#reports-div {
  border-style: groove;
  border-radius: 8px;
  margin-top: 8px;
}

.card-header:first-child {
}

#accordion-1 {
  text-align: right;
}

.text-right {
  text-decoration: none!important;
}

#accordion-1 {
  border: none!important;
}

#moredetaim-accordionitem {
}

#firstpageeducation-heading {
  font-size: 11px!important;
}

#secondpageeducation-heading {
  font-weight: 300;
  font-size: 14px!important;
}

#firstpageeducation-heading-1 {
  font-weight: 600;
  font-size: 11px;
}

#secondpageeducation-heading-1 {
  font-weight: 500;
  font-size: smaller;
}

#img-firstpageeducation {
  border-style: groove;
  border-color: yellow;
}

#img-secondpageeducation {
  border-style: groove;
  border-color: yellow;
}

#education-button {
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px;
}

#formsitem-div {
  margin-top: 15px;
  margin-bottom: 0;
}

.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

