#collapsicon-div {
  text-align: right;
}
.Collapse-Button{
  background-color: rgb(245,176,71);
  margin-top: 4px;
  margin-right: -8px;
  border: none;
}
#customers-report {
  text-align: right;
}

#customers-report-button {
  border-radius: 50px 0px 0px 50px;
  color: rgb(255,214,0);
  border-color: rgb(255,214,0);
  font-size: 16px;
  font-weight: 600;
  right: 5px;
  animation-name: slideLtR;
  animation-duration: 2s;
  position: absolute;
  width: 150px;height: 50px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: 'B Nazanin';
  background-color: rgb(36,105,179);
  box-shadow: 0 1px 5px 0;
}

#coworkers-report-button {
  border-radius: 0px 50px 50px 0px;
  color: rgb(255,214,0);
  border-color: rgb(255,214,0);
  font-size: 16px;
  font-weight: 600;
  left: 5px;
  animation-name: slideRtL;
  animation-duration: 2s;
  position: absolute;
  width: 150px;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'B Nazanin';
  background-color: rgb(36,105,179);
  box-shadow: 0 1px 5px 0;
}

#coworkers-button {
  animation-name: slideTtD;
  animation-duration: 2s;
  position: absolute;
  border-radius: 200px 200px 0 0;
  font-size: 20px;
  font-weight: 600;
  width: 198px;height: 102px;
  background-color: rgb(36,105,179);
  font-family: 'B Nazanin';
  color: rgb(255,214,0);
  border-color: rgb(255,214,0);
  box-shadow: 0 -1px 5px 0;
}

@keyframes slideDtT {
  0% {
    top: 500px;
  }
  100% {
    top: 0;
  }
}

@keyframes slideTtD {
  0% {
    bottom: 500px;
  }
  100% {
    bottom: -101px;
  }
}

@keyframes slideRtL {
  0% {
    left: 500px;
    visibility: hidden;
  }
  42% {
    left: 500px;
    visibility: visible;
  }
  100% {
    left: 5px;
  }
}

@keyframes slideLtR {
  0% {
    right: 500px;
    visibility: hidden;
  }
  42% {
    right: 500px;
    visibility: visible;
  }
  100% {
    right: 5px;
  }
}

#coworkers-col {
  text-align: center!important;
}

#customers-button {
  border-radius: 0 0 200px 200px;
  font-size: 20px;
  font-weight: 600;
  animation-name: slideDtT;
  animation-duration: 2s;
  position: absolute;
  width: 198px;
  height: 102px;
  background-color: rgb(36,105,179);
  font-family: 'B Nazanin';
  color: rgb(255,214,0);
  border-color: rgb(255,214,0);
  box-shadow: 0 1px 5px 0;
}

.Fotter-Pishtazan{

  text-align: center;
  color: white;
  font-size: small;
  height: 37px;
  background-color: #2469b3;
  margin-top: 0;
  width: 100%;
}

.Fotter-Paragraph{
  margin-bottom: 0;
  font-family: 'B Nazanin';
  padding-top: 12px;
}

#firstpageeducation-section{
  margin-top: 57px;
}

.FirstPageEducation-LaptopIcon{
  color: rgb(36,105,179);
  font-size: 22px;
}

.SecondPageOfEducation-VideoIcon{
  color: rgb(36,105,179);
  font-size: 18px;
}

.SecondPageOfEducation-ListOfVideoIcon{
  margin-bottom: 9px;
  margin-left: 3px;
  color: rgba(18,60,105,0.7);
}

.TopHeading-Container{
  margin-top: 40px;
  background-color: #ffffff;
  height: 121px;"
}

.TitleOfPage{
  padding: 0;
  margin: 12px;
  margin-top: 2px;
}

.BoxOfReports-Detail{
  margin-top: 173px;
  margin-bottom: 99px;
}

.Reports_Icon{
  width: 30px;
  height: 30px;
}

.Reports-Text{
  margin-top: 13px;
  margin-right: -14px;
}
.Imege-Reports{
  width: 30px;
  height: 30px;
  margin-top: 7px;
  margin-left: 14px;
}

.Text-Report{
  color: rgb(12,77,147);
  font-size: 12px;
}
#reports-inbegining {
  overflow: hidden;
  min-height: 50px;
  margin-top: 28px;
 
}

#reports {

  border-style: groove;
  border-radius: 8px;
  margin-top: 8px;
}
#cell1{
  font-size: 10px;
  padding: 7px;
}

#cell2{
  height: 27px;
  font-size: 10px;
  padding: 7px;
}
.MoreDetail-Col{
  margin-top: -68px;
  
}
#coworkers-customers {
  overflow: hidden;
  min-height: 210px;
  margin-top: 30px;
}

#collapsicon-heading {
  text-align: right;
}

#collaps-heading {
  font-size: 17px;
  font-family: 'B Nazanin';
  font-weight: 600;
}

#kindsofcustomers {
  font-family: 'B Nazanin';
  font-size: 18px;
  font-weight: 600;
}

#kindsofcustomers-links {
  color: rgb(245,176,71)!important;
  border-radius: 6px!important;
}

#addpeople {
  text-align: center;
}

#addpeople-button {
  border-radius: 7px!important;
}

#posiblecustomers-row {
  border-color: gray!important;
  border-width: 5px!important;
}

.Set-Image-InEducationPage-Div{
  border-radius: 100px 0 0 100px;
  text-align: center!important;
  background-color: rgb(36,105,179);
  height: 66px;
  width: 69px;
}
.Set-Image-CustomersPage-Div{
  border-radius: 100px 12px 12px 100px;
  text-align: center!important;
  background-color: rgb(36,105,179);
  height: 66px;
  
  background-color: #bfbfbf;
  height: 110px;
}
.Set-Image-InquestionnairePage-Div{
  border-radius: 100px 0 0 100px;
  text-align: center!important;
  background-color: rgb(36,105,179);
  height: 66px;
  
}
#image-div-inquestionnaire{
  background-color: #bfbfbf;
  height: 132px;
}
#img-customers {
  border-color: yellow!important;
  border-width: medium!important;
}

#posiblecustomers {
  font-family: 'B Nazanin';
}

#opration-button {
  border-radius: 7px;
  font-family: 'B Nazanin';
  font-size: 21px;
  font-weight: 5000;
  color: rgb(0,0,69);
}

#deleteandname-col {
  border-style: groove;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

#img-customers {
  border-style: groove;
  border-color: yellow;
  height: 110px;
  width: 110px;
}

#posiblecustomers-row {
  border: groove;
  border-color: rgb(211,211,211)!important;
  border-width: 2px!important;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 2px 4px 0;
}

@media (max-width: 400px) {
  #img-customers {
    width: 75px!important;
    height: 75px!important;
  }
}

#carsoul-row{
  margin-right:20px;
  margin-left:20px
}

.Carsoul-Image{
  height: 50px;
  width:50px;
  margin-top: 10px;
  margin-bottom:10px
}

#start-exam-button{
  font-size: 17px;
  width: 60%;
  background-color: #2469b3;
  color: rgb(255,255,255);
}

.Question-Style{
  background-color: rgb(113, 238, 247);
  display: none;
  position: relative;
}
#customers-tabitems {
  border-radius: 8px!important;
  border-color: rgb(255,214,0)!important;
  border-width: medium;
  background-color: rgb(36,105,179);
  box-shadow: 0 2px 4px 0;
}

.ButtonExit{
  margin-right: 7px;
  width: 116px;
  font-family: 'B Nazanin';
  font-size: 20px;
  background-color: rgb(249,83,73);
}

.Buttonsave{
  margin-right: 7px;
  width: 116px;
  font-family: 'B Nazanin';
  font-size: 20px;
}

.SetLevel-NavBar {
  border-radius: 8px!important;
  border-width: medium;
  background-color: #174f8c;
  padding-right: 6px;
  padding-left: 6px;
  height: 75px;
}

#icononimage {
  position: relative;
  height: 35px;
  width: 35px;
}

body {
  direction: rtl;
  font-family: 'B Nazanin';
}

#imageedit-div {
  text-align: center;
}

#image-edit {
  text-align: center!important;
  border-color: blue!important;
}

.InputGroup-AddQustionnair {
  border-radius: 0 0 0 0;
  background-color: rgb(15,71,128);
}

.Save-Questionnaire{
  background-color: rgb(15,71,128);
  color: rgb(255,255,255);
  font-family: 'B Nazanin';
  font-size: 16px;
  width: 194px;
  height: 34px;
}

.Icon-InAddPeople{
  font-size: 25px;
  color: rgb(255,220,36);
}

#saveandexit {
  text-align: center;
}

#save {
  border-radius: 50px 0 0 50px;
}

#exit {
  border-radius: 0 50px 50px 0;
  color: white;
}

#addform {
  text-align: center;
}

#addform-button {
  font-weight: 400;
  background-color: rgb(36,105,179);
  margin: 27px;
  font-family: 'B Nazanin';
  font-size: 23px;
  color: rgb(255,255,255);
}

#formsitem-row {
  border-style: groove;
  box-shadow: 0 2px 4px 0;
  border-radius: 8px;
  border-color: #d3d3d3;
  border-width: 1px;
}

.FirstPageEducation-Row {
  border-style: groove;
  box-shadow: 0 2px 4px 0;
  border-radius: 8px;
  border-color: #d3d3d3;
  border-width: 1px;
}

.Set-Image-InEducationPage-Col{
  padding-right: 0px;
  padding-left: 15px;
}

#secondpageeducation-row {
  border-style: groove;
  box-shadow: 0 2px 4px 0;
  border-radius: 8px;
  border-color: #d3d3d3;
  border-width: 1px;
}
.ExitLink-ChooseFromContact{
  background-color:yellow;
  text-align:center;
  font-size:20px;
  font-family:B Nazanin; 
  font-weight:700 

}


.NameAndFamily-ChooseContact{
  font-size:11px;
  color:gray;
}

.PhoneNumber-ChooseContact
{
  font-size:11px;
  color:gray;
  margin-top:-10px
}

.ChooseFromContact-Button{
  width:100%;
  font-size:18px;
  font-family:B Nazanin;
   background-color:rgb(36,105,179);
  font-weight:500; 
  color:white
}
.card-header:first-child {
}

#accordion-1 {
  text-align: right;
}

.text-right {
  text-decoration: none!important;
}

#accordion-1 {
  border: none!important;
}

.Heading-InEducationPage1 {
  font-size: 15px!important;
  margin-bottom: 13px;
  margin-top: 7px;
}

.Heading-InEducationPage2 {
  font-weight: 600;
  font-size: 15px;
  margin-top: -7px;
}

.Image-EducationPage{
  border-style: groove;
  border-color: yellow;
  margin-right: -2px;
  width: 60px;
  height: 60px;
}

#img-secondpageeducation {
  border-style: groove;
  border-color: yellow;
}

#education-button {
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px;
  width: 100px;
  height: 100px;
  color: rgb(12,77,147);
  background-color: rgb(255,233,117);
  font-family: 'B Nazanin';
  font-size: 17px;padding-top: 14px;
}

#formsitem-div {
  margin-top: 15px;
  margin-bottom: 0;
}

.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.moreDetail-Collaps-Col{
  margin: 12px;
  margin-top: 35px;
  margin-left: 0;
  width: 100%;
  margin-bottom: 12px;
}


.ExamSlider{
  overflow: hidden;
 
}
.ChooseOperation-InCustomerspanel{
  width:150px;
  font-size:18px;
  font-family:B Nazanin;
   background-color:rgb(36,105,179);
   font-weight:500; 
   color:white;
}
.ChooseDateAndTime-Collaps{
  display:block;
   font-size:25px;
   font-family:B Nazanin;
    font-weight:700
}
.Buttonyes{
  font-size:20px;
  font-family:B Nazanin;
   font-weight:500;
   width:100%
}
.Bikhial-Link{
  background-color:yellow;
  text-align:center;
  font-size:20px;
  font-family:B Nazanin;
  font-weight:700
}
.Trashbin-Icon{
  width:auto;
  font-size:18px;
  font-family:B Nazanin;
   color:red
}